
include ../index

block append content
    
            div(style="height:auto;width:100%;") PlaceHolder for AGO map displays

//

    http://localhost:3035/views/partials/AGONewWindow?id=e39fa319c45c483aa2ba93595583c1d5&channel=howdydoody

