
extends ./MapPageBase

    
block append scriptsblock
    script(src='javascripts/lib/proj4js.js')
    script(src='/javascripts/lib/StartupArcGIS.js')
    script(src='javascripts/lib/searcher.js') 
    script(type="text/ng-template" id="DestSelectModalDlg.html")
        div(class="modal-header")
            h3(Select Destination Window)
        div(class="modal-body")
            ul
                li(class="acc li") 1 Open a new web map replacing map in this window
                li(class="acc li") 2 Open a new web map in a new tab
                li(class="acc li") 3 Open a new web map in a new window
        div(class="modal-footer")
            div(class="btn-group" style="margin: 9px 0;")
                button(class="btn btn-primary", style='width:25%;', ng-click="thisWindow()", value="This Window") This Window
                button(class="btn btn-default", style='width:25%;', ng-click="newTab()", value=">New Tab") New Tab
                button(class="btn btn-default", style='width:25%;', ng-click="newWindow()", value="New Window") New Window
                button(class="btn btn-warning", style='width:25%;', ng-click="cancelMash()", value="Cancel") Cancel

//

    block append content        
                div(id="idWindowSelectionDialog", data-dojo-type="dijit.Dialog", title="Select Destination Window", style="width:500px;height:120px;")
                        div(id="idDialogContainer")
                            div(class="dijitDialogPaneContentArea" id="idDialogText")

                            div(class="dijitDialogPaneActionBar")
                                button(dojoType="dijit.form.Button" type="submit", id="idDialogButtonSameWindow", value='This Window') 
                                button(dojoType="dijit.form.Button", type="submit", id="idDialogButtonNewWindow", value='New Window')
                                button(dojoType="dijit.form.Button", type="button", onClick="dijit.byId('idWindowSelectionDialog').onCancel();", id="idDialogButtonCancel", value='Cancel') 

//
    block append content
        div ArcGIS template for ArcGIS Map displays


        div(id="idWindowSelectionDialog", data-dojo-type="dijit.Dialog", title="Select Destination Window", style="width:500px;height:120px;")
            div(id="idDialogContainer")
                div(class="dijitDialogPaneContentArea" id="idDialogText")