
extends ./MapPageBase

    
block append scriptsblock
    script(src='javascripts/lib/proj4js.js')
    script(src='/javascripts/lib/StartupArcGIS.js')
    script(src='javascripts/lib/searcher.js')

//
    block append content
        div ArcGIS template for ArcGIS Map displays


      div(id="idWindowSelectionDialog", data-dojo-type="dijit.Dialog", title="Select Destination Window", style="width:500px;height:120px;")
            div(id="idDialogContainer")
                div(class="dijitDialogPaneContentArea" id="idDialogText")

//
                div(class="dijitDialogPaneActionBar")
                    button(dojoType="dijit.form.Button" type="submit", id="idDialogButtonSameWindow")This Window
                    button(dojoType="dijit.form.Button", type="submit", id="idDialogButtonNewWindow")New Window
                    button(dojoType="dijit.form.Button", type="button", onClick="dijit.byId('idWindowSelectionDialog').onCancel();", id="idDialogButtonCancel")Cancel
