extends ./MapPageBase

    block append stylesblock
        link(rel='stylesheet', href=('/static/css/leaflet.css')
    block append scriptsblock
            script(src='../static/LeafletCloudmade.js') 
            script(src='../static/StartupLeaflet.js')
		
    
