
extends ./MapPageBase


block append stylesblock
    link(rel='stylesheet', href=('http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css'))

        
block append scriptsblock
    script(src='javascripts/lib/L.Control.Geocoder.js') 
    script(src='javascripts/lib/MapHosterLeaflet.js') 
    script(src='javascripts/lib/StartupLeaflet.js')
    script(src='javascripts/lib/searcher.js')
    script(src='javascripts/lib/utils.js')
    script(src='javascripts/lib/Control.Loading.js')

//
    block append content
        div LeafletCloudmade template for Leaflet Map displays
    
