
extends ./MapPageBase


block append stylesblock
    link(rel='stylesheet', href=('/stylesheets/leaflet.css'))

        
block append scriptsblock
    script(src='javascripts/lib/LeafletCloudmade.js') 
    script(src='javascripts/lib/StartupLeaflet.js')
    script(src='javascripts/lib/searcher.js')

//
    block append content
        div LeafletCloudmade template for Leaflet Map displays
    
