//
    extends ./MapPageBase

//
    block append stylesblock
        link(rel='stylesheet', href=('/static/css/leaflet.css')

//        
    block append scriptsblock
            script(src='javascripts/LeafletCloudmade.js') 
            script(src='javascripts/lib/StartupLeaflet.js')

block append content
    div LeafletCloudmade template for Leaflet Map displays
    
