extends ./MapPageBase

    block append stylesblock
        link(rel='stylesheet', href=('/static/css/leaflet.css')
    block append scriptsblock
            script(src='javascripts/LeafletCloudmade.js') 
            script(src='javascripts/StartupLeaflet.js')
		
    
