    #idLeftCol(class="container-leftcol aside",
        ng-class="{'website-hidden': SiteVis=='none', 'website-shown': SiteVis=='flex'}")
        div(class="container-newscell")
            div(class="container-newscellhead", style="color:black; border: 3px solid red;").
                What's New?
            div(class="container-newscellbody")
                p.
                    We now have WebMap MapLinkr capabilities
                p.
                    Click on the "Show Linker" and "Max Map" icons.
                p.
                    Then Select the MapLinkr Instruction accordion pane for all the latest.
        div(class="container-newscell")
            div(class="container-newscellhead" style="color: black; font-weight: bold;").
                OTHER STUFF
            div(class="container-newscellbody")
                img(ng-src="../stylesheets/images/NewsPapers.jpg")
