#idLeftCol
    div(class="container-newscell")
        div(class="container-newscellhead", style="color:black; border: 3px solid red;").
            What's New?
        div(class="container-newscellbody")
            p.
                We now have WebMap MapLinkr capabilities
            p.
                Click on the "MapLinkr" and "Max Map" icons.
            p.
                Then Select the MapLinkr Instruction accordion pane for all the latest.
    div(class="container-newscell")
        div(class="container-newscellhead" style="color: black; font-weight: bold;").
            OTHER STUFF
        div(class="container-newscellbody")
            img(ng-src="../stylesheets/images/NewsPapers.jpg")

    div(class="container-newscellhead", style="overflow:auto;")
        div.
            Left Out

    div(class="container-newscellbody newscelllatin", style="overflow-y:auto; opacity: 0.8;")
        div.
            This section exists to pad the test website with some verbage that is
            useful in testing the map alignment in the center column.  Ideally, no one
            will waste time reading this.  The whole idea is to focus on how a website
            can embed MapLinkr.
