#map_wrapper(ng-controller="MapCtrl",
    style="vertical-align:top; position: absolute; width: 100%; height: 100%;")

    gmsearch

    #DestWndDialogGoogle
    #map_canvas(class="{{$parent.mapColDef}}", style="margin:0px; width: 100%; height: 100%;")

        img#loadingImg(src="../stylesheets/images/loading.gif",
            style="position:absolute; right:512px; top:256px; z-index:100;")
