#map_wrapper(ng-controller="MapCtrl", class="{{$parent.mapColDef}}",
    style="vertical-align:top; position: absolute;")

    gmsearch

    #DestWndDialogGoogle
    #map_canvas(class="{{$parent.mapColDef}}", style="margin:0px;")

        img#loadingImg(src="../stylesheets/images/loading.gif",
            style="position:absolute; right:512px; top:256px; z-index:100;")
