
block stylesblock append
    link(rel='stylesheet', href='/stylesheets/accordianstyles.css')
    link(rel='stylesheet', href='/stylesheets/gridstyle.css')
    
block append scriptsblock
            script(src='http://js.pusherapp.com/1.10/pusher.min.js')
            script(src='/javascripts/lib/SearcherCtrlGrp.js')
            script(src='/javascripts/lib/SearcherCtrlMap.js')
    
block append content

    #spa_window(style="height:100%;width:100%", ng-controller="SPACtrl")
        table(id="mainWindow", style="width:100%;")
            tbody
                tr
                    td(style='width: 30%')
                        label(id = 'stnm', style='font-size:12pt;').
                            {{currentTab.site}}

                    td(style='width: 70%')
                        table(style='padding-right:20px;')
                            tr(ng-controller="PositionViewCtrl")
                                td(style='width:15%')
                                    input(id = 'mppos', type='text', name='cursPos', disabled, ng-model="positionView", style='font-size:9pt;text-align:right;margin-right:10px;padding: 0px 5px 0px 5px;width:100%')
                                td
                                    select(ng-model="currentViewOption", ng-options="option.type for option in viewOptions", ng-change="setPostionDisplayType()")
                                td
                                    span
                                        input(id = 'mpnm', type='text', name='curTabTitle', ng-model= "currentTab.title", style='font-size:9pt;text-align:center; padding: 0px 5px 0px 5px;', disabled)
                                        img(ng-src="{{currentTab.imgSrc}}", style='margin-left:10px;padding: 0px 5px 0px 5px;')
                                td(style='width:20%')
                                    label(for="buttonRightPaneShowHide", style ='padding-right:10px; padding-top:7px; padding-left:5px; font-size:12pt').
                                        {{verbageExpandCollapse}} Right Pane
                                td(style='width:5%')
                                    div(ng-click="collapser()")
                                        div(style='padding: 0px 5px 0px 5px;')
                                            img(ng-src="../stylesheets/images/{{verbageExpandCollapse}}.png")


        div
            table(id="tableWindow", style="height:{{ContentsHeight}}px;width:100%;")
                tbody
                    tr(id="leadpane", style="height:{{ContentsHeight}}px")
                        td(id="map_wrapper", ng-controller="MapCtrl", style="height:{{ContentsHeight}}px;width:{{MapWdth}};vertical-align:top;")
                            
                            #map_canvas(style="height:100%;width:100%;margin:0px;")

                           
                                img#loadingImg(src="../stylesheets/images/loading.gif", style="position:absolute; right:512px; top:256px; z-index:100;")

                        td(id="verbagePan", ng-controller="VerbageCtrl", ng-class="{true: 'hide-content', false: 'reveal-content'}[isVerbageCollapsed]", style='vertical-align:top;width:{{VrbgWdth}};height:100%;')

                                div(modal-show-pusher="", modal-visible="$parent.showDialog", class="modal311", ng-controller="StompSetupCtrl", modal-pdata="pData", role="dialog", class="modal", id="PusherChannelerDialog", style="display: none; position:relative", data-backdrop="false")
                                
                                div(modal-show-dest="", modal-visible="showDestDialog", class="modal311",  ng-controller="DestWndSetupCtrl", modal-mdata="mData", role="dialog", class="modal", style="display: none; position:relative", id="DestWndDialog", data-backdrop="false")
                                                
                                div(class = "acc scrollable", style="height:100%;width:100%;")
                                    accordion(id="Accdian", style="height:100%;width:100%;", close-others="false")
                                        accordion-group(id="AccdianNews", heading="Such Exciting News", style="height:100%;width:100%;vertical-align:top;")
                                            h5(style="color:red")
                                                | We now have WebMap mash-over capabilities
                                                | Select the Mash-over Instruction pane below for all the latest.
                                            br
                                            h5 Sed arcu magna.
                                            p(style='font-size:9pt').
                                                molestie at, fringilla in, sodales eu, elit.
                                                Curabitur mattis lorem et est. Quisque et tortor. Integer bibendum
                                                vulputate odio. Nam nec ipsum. Vestibulum mollis eros feugiat
                                                augue. Integer fermentum odio lobortis odio. Nullam mollis nisl non
                                                metus. Maecenas nec nunc eget pede ultrices blandit. Ut non purus
                                                ut elit convallis eleifend. Fusce tincidunt, justo quis tempus
                                                euismod, magna nulla viverra libero, sit amet lacinia odio diam id
                                                risus. Ut varius viverra turpis. Morbi urna elit, imperdiet eu,
                                                porta ac, pharetra sed, nisi. Etiam ante libero, ultrices ac,
                                                faucibus ac, cursus sodales, nisl. Praesent nisl sem, fermentum eu,
                                                consequat quis, varius interdum, nulla. Donec neque tortor,
                                                sollicitudin sed, consequat nec, facilisis sit amet, orci. Aenean
                                                ut eros sit amet ante pharetra interdum.
                                            br

                                        accordion-group(id="fillerPane", heading="Mash-over Instructions", style="height:100%;width:100%;vertical-align:top;")
                                            h3 Using Mash-over

                                            p(style='font-size:9pt;margin:1em').                              
                                                Mash-overs allow viewing mulitple synchronized maps in separate windows.  The maps can use different base maps or different themes for overlays.  Unlike standard layer overlays in a single viewer, the base layers and overlays do not interfere with the visibility or legibility of other selected layers.

                                            p(style='font-size:9pt;margin:1em;').
                                                Mash-overs can be created from three map viewer sources, if the viewer incorporates the mash-over component.

                                            ul#MapTypes(style="list-style-type: decimal; height:100%")
                                                li(class="acc li") 1 An ArcGIS webmap viewer - such as this viewer.
                                                li(class="acc li") 2 A web page with a google map display.
                                                li(class="acc li") 3 A web page with an open source map display.
                                                
                                            h3( style="text-align:left") Steps

                                            ul#StepsList(style="height:100%")
                                                li(class="acc li") 1 Open the accordion pane for group search.  Enter a search term and click the submit button.
                                                li(class="acc li") 2 The group pane displays groups matching the search term.  Click on one of the groups.
                                                li(class="acc li") 3 The map selection pane opens.  Clicking on a map item opens a dialog that allows showing the selected WebMap in the default ArcGISOnline WebMap viewer in a new popup window.
                                                li(class="acc li") 4 If the open in new tab option is chosen, you can subsequently drag the tab to the desktop, which displays the tab's contents in a completely new browser instance.
                                                li(class="acc li") 5 The two map viewer displays (or any number of generated viewers) are synchronized so that panning or zooming in any map viewer pans or zooms all other map viewers to the same extent.

                                            p(style='font-size:9pt;margin:1em').                              
                                                Multiple users can view synchronized maps in web browsers in other locations.  When you have an ArcGIS WebMap that you want to share, open the "Copy Map Link" accordion pane.  The url for the current WebMap will be inserted in the text field and pre-selected.  Use Ctrl-C to copy it to the clipboard, and then paste the link in an email to collaborators.
                                                
                                            p(style='font-size:9pt;margin:1em').
                                                The url includes the name of the Pusher channel that you have selected.  As users open the link, they will be subscribing to share map pans and zooms with all other users as any user manipulates any map view.

                                            br
                                            
                                        accordion-group(id="GroupSearcherPane", heading="Group Searcher", is-open="$parent.isGrpAccPanelOpen", style="height:100%;width:100%;vertical-align:top;")
                                            #SearchGroup(ng-controller="SearcherCtrlGrp")
                                                div(data-dojo-type="dijit.layout.BorderContainer", data-dojo-props="design:'headline',gutters:false")
                                                    div(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region:'top'")
                                                        div(id="searchToolWrapperGroup")
                                                            span
                                                                label(id='grpSearchLabel', for='signInGroup', style='font-size:12pt;float:left;width:75%') AGO Group Search
                                                                
                                                                input(type="button", class="signInClass", id="signInGroup", name="signInGroup", ng-click='signInFromGroupTab();', style='width:25%;', value='{{signInOutGrp}}')
                                                                 
                                                            p(style='font-size: 80%; padding:2px 3px;margin: 2px 3px;') Find group ids based on search term. Sign-in to search for private groups.
                                                            span
                                                                input(name="groupFinder", id="groupFinder", ng-model="searchTermGrp")
                                                                input(name="groupFinderSubmit", ng-disabled='findGrpDisabled', type="submit", value="Submit", id="groupFinderSubmit", ng-click="findArcGISGroup();")

                                                    div(id='gridpaneGroup', data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region:'center'")
                                                        div(ng-grid="gridGrpOptions", ng-style="getGridStyleGroup()")

                                        accordion-group(id="MapSearcherPane", heading="Map Searcher", is-open="$parent.isMapAccPanelOpen", style="height:100%;width:100%;vertical-align:top;")
                                            #SearchMap(ng-controller="SearcherCtrlMap")
                                            
                                
                                                
                                                div(id="searchToolWrapperMap")
                                                    span
                                                        label(id='mapSearchLabel', for='signInMap', style='font-size:12pt') AGO Map Search
                                                        
                                                        input(type="button", class="signInClass", id="signInMap", name="signInMap", ng-click='signInFromMapTab();', style='width:25%;', value='{{signInOutMap}}')

                                                    h5(id="mapSrchInstId", style-'padding:2px 3px;margin: 2px 3px;') Find map ids based on search term. Sign-in to search for private groups.
                                                    span
                                                        input(name="mapFinder",  id="mapFinder", ng-model="searchTermMap")
                                                        input(name="mapFinderSubmit",  ng-disabled='findMapDisabled', type="submit" value="Submit", id="mapFinderSubmit", ng-click="findArcGISGroupMaps();")

                                                    div(id='gridpaneMap', style="overflow: hidden; padding: 3px;background-color:#ffaaee;", ng-style="getGridStyleWrapper()")
                                                        div(id="mapGridId", ng-grid="gridMapOptions", ng-style="getGridStyleMap()", style="margin:5px;")    
                                                
                                        accordion-group(id="MailSenderId", heading="Copy Map Link", style="height:100%;width:100%;vertical-align:top;")
                                            form(name="emailForm", ng-controller="EmailCtrl")
                                                label(style='font-size:12pt;margin:4px').
                                                    Fetch the link to the current ArcGIS Online map:
                                                textarea(id="UrlCopyFieldID", type="url", name="input", style="overflow: hidden; resize: vertical;", ng-model="urlText", required)
                                                br
                                                button(class="btn btn-primary", style='width:100%;', ng-click="fetchUrl()", value="Copy Url to Clipboard") Copy Url to Clipboard
                                                #UrlInstructions(style="display:none")
                                                    label(style='font-size:12pt;margin:2px').The url is now focused and selected.
                                                    label(style='font-size:12pt;margin:2px').Now use Ctrl-C to copy to clipboard.
                                                    label(style='font-size:12pt;margin:2px').Then paste the link into an email.
                                                    
                                        accordion-group(id="ChannelSetterId", heading="Set Pusher Channel", style="height:100%;width:100%;vertical-align:top;")
                                            div(ng-controller="StompSetupCtrl")
                                                p(style='font-size:9pt;margin:1em').
                                                    Set or change the Pusher communications channel.
                                                button(class="btn btn-primary", style='width:100%;', ng-click="displayPusherDialog()", value="Set Channel") Set Channel
                                
                                                
                                


                    tr(id="foot_pane", style="border:5px solid green;height:5px;width:100%")
                        td(colspan=2) The rest of this awesome web site contents featuring{{currentTab.title}}
