
block stylesblock append
    link(rel='stylesheet', href='/stylesheets/accordianstyles.css')
    
block append content

    ui-layout(id="mainWindow", options="{ flow : 'row' }", style="width:100%; height:100%;")
        header(id='headerDiv', style="width:100%; height:7%;")

        div
            span
                label(id = 'stnm', style='font-size:12pt').
                    siteName1

                table(style='float: right; padding-right:20px;')
                    tr
                        td
                            label(for="buttonRightPaneShowHide", style ='padding-right:10px; padding-top:7px; font-size:12pt').
                                Resize Right Pane
                        td
                            button(id="buttonRightPaneShowHide", data-dojo-type="dijit/form/Button", type="button", data-dojo-props="onClick:function(){adjustSearchPane();}", style ='padding-right:20px; padding-top:1px; float: right; font-size:12pt').
                                Shrink

            br
            label(id = 'mpnm',  style='font-size:9pt').
                siteName2

        ui-layout(id="leadpane", options="{ flow : 'column' }")
        
            sidebar(id="map_canvas", ng-controller="MapCtrl")
                //
                    img#loadingImg(src="../stylesheets/images/loading.gif", style="position:absolute; right:512px; top:256px; z-index:100;")

            sidebar(id="verbagePan")
                accordion(id="Accdian")
                    accordion-group(id="AccdianNews", heading="Such Exciting News")
                        h5(style="color:red")
                            | We now have WebMap mash-over capabilities
                            | Select the Mash-over Instruction pane below for all the latest.
                        br
                        h5 Sed arcu magna.
                        p.
                            molestie at, fringilla in, sodales eu, elit.
                            Curabitur mattis lorem et est. Quisque et tortor. Integer bibendum
                            vulputate odio. Nam nec ipsum. Vestibulum mollis eros feugiat
                            augue. Integer fermentum odio lobortis odio. Nullam mollis nisl non
                            metus. Maecenas nec nunc eget pede ultrices blandit. Ut non purus
                            ut elit convallis eleifend. Fusce tincidunt, justo quis tempus
                            euismod, magna nulla viverra libero, sit amet lacinia odio diam id
                            risus. Ut varius viverra turpis. Morbi urna elit, imperdiet eu,
                            porta ac, pharetra sed, nisi. Etiam ante libero, ultrices ac,
                            faucibus ac, cursus sodales, nisl. Praesent nisl sem, fermentum eu,
                            consequat quis, varius interdum, nulla. Donec neque tortor,
                            sollicitudin sed, consequat nec, facilisis sit amet, orci. Aenean
                            ut eros sit amet ante pharetra interdum.
                        br

                    accordion-group(id="fillerPane", heading="Mash-over Instructions", is-open="true")
                        h3 Using Mash-over

                        p.                              
                            Mash-overs allow viewing mulitple synchronized maps in separate windows.  The maps can use different base maps or different themes for overlays.  Unlike standard layer overlays in a single viewer, the base layers and overlays do not interfere with the visibility or legibility of other selected layers.

                        p.
                            Mash-overs can be created from three map viewer sources, if the viewer incorporates the mash-over component.

                        div
                            ol(style="list-style-type: decimal;")

                                li(class="acc li") An ArcGIS webmap viewer - such as this viewer
                                li(class="acc li") A web page with a google map display
                                li(class="acc li") A web page with an open source map display

                        div
                            br
                            h3( style="text-align:left").
                                Steps

                        div
                            ol#StepsList(style="list-style-type: decimal;")
                                li(class="acc li") Open the accordian pane for group search.  Enter a search term and click the submit button.
                                li(class="acc li") The group pane displays groups matching the search term.  Click on one of the groups.
                                li(class="acc li") The map selection pane opens.  Clicking on a map item opens the WebMap in the default ArcGISOnline WebMap viewer in a new tab.
                                li(class="acc li") Drag the tab to the desktop, which displays the tab's contents in a new browser instance.
                                li(class="acc li")  The two map viewer displays (or any number of generated viewers) are synchronized so that panning or zooming in any map viewer pans or zooms all other map viewers to the same extent.

                        br
