
block append content
    #mapWindow(ng-controller="MapCtrl", data-dojo-type="dijit.layout.BorderContainer",        data-dojo-props="design:'sidebar',gutters:false" style="width:80%; height: 90%;")
        #map(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="splitter:true, region:'center'")
			img#loadingImg(src="../styles/images/loading.gif", style="position:absolute; right:512px; top:256px; z-index:100;")
		
    
