
#idRightCol
    div(class="container-newscellhead", style="overflow:auto;")
        div.
            Off to the Right

    div(class="container-newscellbody newscelllatin", style="overflow-y:auto; opacity: 0.8;")
        div
            img(ng-src="../stylesheets/images/ZillowDotCom.png")
        div.
            Why does this outfit get to stick its advertisement link in our website.
                Why don't they just go and advertise on gambling and conspiracy websites.
                Maybe they should advertise on cat video sites.  Actually, putting a Golden
                Retriever in the advertisement seems to work 100% of the time.  Zillow.com
                might even replace their logo with a smiling Golden Retriever.

    div(class="container-newscellhead", style="overflow:auto;")
        div.
            Off to the Right

    div(class="container-newscellbody newscelllatin", style="overflow-y:auto; opacity: 0.8;")
        div
            img(ng-src="../stylesheets/images/ZillowDotCom.png")
        div.
            Why does this outfit get to stick its advertisement link in our website.
                Why don't they just go and advertise on gambling and conspiracy websites.
                Maybe they should advertise on cat video sites.  Actually, putting a Golden
                Retriever in the advertisement seems to work 100% of the time.  Zillow.com
                might even replace their logo with a smiling Golden Retriever.
