//
    http://plnkr.co/edit/LlPyVtYwMvAF6ilKUmdD?p=preview              >>>>> plunker


style.
    h2 {
        color: #66718A;
    }
style.img.
    transparent {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

block append content

div( style="height:100%;width:100%;")
    h2(align="center")
        | MapLinkr Web Site Simulator

    div(ng-controller="CarouselCtrl")
        div(style="height: 300px")
            uib-carousel(active="active", interval="SlideInterval", no-wrap="noWrapSlides")
                uib-slide(ng-repeat="slide in slides track by slide.id", index="slide.id", active="active")
                    img(ng-src="{{slide.image}}", style="margin:auto;")
                    div(class="carousel-caption")
                        h4
                            | Slide {{slide.id}}
                        p
                            | {{slide.text}}</p>
