//   
    http://plnkr.co/edit/LlPyVtYwMvAF6ilKUmdD?p=preview              >>>>> plunker


block stylesblock
    link(rel='stylesheet', href="/stylesheets/LayoutTests.css")
    
block append content
    
div(style="height:80%;width:100%;") PlaceHolder for map displays

    ui-layout(class="layout-mock", style="height:100%;width:100%;")
      header(class="north-back")
      ui-layout(options="{ flow : 'column' }")
        sidebar(class="east-back")
        div(class="center-back")
        div(class="center-back")
        sidebar(class="west-back")
      footer(class="south-back")
