//
    http://plnkr.co/edit/LlPyVtYwMvAF6ilKUmdD?p=preview              >>>>> plunker


style.
    h2 {
        color: #66718A;
    }
style.img.
    transparent {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

block append content

div( style="height:100%;width:100%;")
    #idFeatureExpander
        button(type"button", class="btn btn-labeled",
            ng-click="featuresCollapser()")
            span(class="btn-label")
                i(class="fa fa-expand fa-lg", ng-class="{'fa-expand': $parent.data.isSummaryCollapsed, \
                'fa-compress': !$parent.data.isSummaryCollapsed}", style="padding-left: 0.5rem; padding-right: 1.0rem;")
                | {{$parent.data.ExpandFeaturesText}}

    div(ng-controller="CarouselCtrl")
        div(id="idCarousel", style="height: 500px")
            uib-carousel(active="active", interval="SlideInterval", no-wrap="noWrapSlides")
                uib-slide(ng-repeat="slide in slides track by slide.id", index="slide.id", active="active")
                    img(ng-src="{{slide.image}}", style="margin:auto;")
                    div(class="carousel-caption")
                        h4
                            | Slide {{slide.id}}
                        p
                            | {{slide.text}}</p>

                uib-slide(ng-repeat="video in videos track by video.id", index="video.id", active="active")
                    video(ng-src="{{video.vfile}}", style="margin:auto; height: 500px;", type="video.mp4", autoplay, loop)
