public/javascripts/lib/angular/*
public/javascripts/lib/jquery.js
public/javascripts/lib/leaflet.js
public/javascripts/lib/proj4js.js
public/javascripts/lib/Control.Loading.js
public/javascripts/lib/Orb*
public/javascripts/lib/jquery*
public/javascripts/EsriSample.js
public/javascripts/PortalExample.html
public/javascripts/controllers/TabsInfoCommented.js
public/javascripts/Incrementer.html
public/javascripts/*.frags
views/partials/extras/*
views/partials/header.jade
templates/*
node_modules/*
index.html
public/stylesheets/esri.css
public/stylesheets/FavIcon.css
public/stylesheets/Grid960.css
public/stylesheets/LayoutTests.css
public/stylesheets/Leaflet.css
public/stylesheets/Leaflet.ie.css
public/stylesheets/SearchGrid.css
public/stylesheets/ng-grid.css
public/stylesheets/Control.Loading.css
public/stylesheets/images/*
kdiff3DiffTools.txt
.git.log
.git.dot
GitVersionTree.exe
views/DestSelectModalDlg.html

