<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>Simple Angular Directive for Bootstrap Modal</title>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" data-semver="1.2.16"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-controller="MainCtrl as pc" >
    <input class="button" type="button" onclick="toggleShow()" value="Show It">
    <h4>Current Selection :  {{data.dstSel}}</h4>
    <div modal-show  modal-visible="showDialog" modal-mdata="mData.dstSel" role="dialog" class="modal" id="someDLg">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="btn-group btn-group-vertical">
                  <span data-ng-repeat="dest in destSelections">
                      <input 
                        name="destSelected" 
                        type="radio" value="{{dest}}"
                        ng-model="$parent.data.dstSel"/>
                        {{dest}}
                      <br/>
                  </span>
            </div>
            <div>selected: {{data.dstSel}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="whichDismiss = 'Accept'" data-dismiss="modal">Accept</button>
            <button type="button" class="btn btn-primary" ng-click="whichDismiss = 'Cancel'; restoreState()" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  </body>

</html>
