extends layout


block content
        
    div(ng-controller="MasherCtrl")
        #top_line(ng-click="summmaryCollapser()")
            p(style="float: left;")
                img(ng-src="../stylesheets/images/{{sumExpandCollapse}}.png")
            p(style="padding-left:5px;font-size:14pt; font-weight: bold;") {{sumExpandCollapse}} Master Web Site Container
                
        #summary_header(collapse="isCollapsed")
            .background
                div(id="mashbox", class="transbox", style="margin: 30px 40px; font-weight: bold; font-size: 150%; font-family:Arial; margin:auto; text-align: center; color: #00ff00;")
                    p Synchronizing Maps From a Variety of Map Systems
                    
                div(style="background:rgba(255,255,255,0.99); background-color: #ffffff;")
                    div(ng-controller="TabsCtrl")
                        ul
                            li(ng-repeat="tab in tabs", ng-class="{active:isActiveTab(tab.url)}")
                                div(ng-click="onClickTab(tab)")
                                    span {{tab.title}} 
                                        img(ng-src="{{tab.imgSrc}}", style="margin: 2px 5px 6px 5px")

            #mainView {{currentTab.content}}
                br
                br
                div
                    p(id="currentTabSelectedId", style="float: left; font-weight: bold;") Selected Map Type: {{currentTab.title}} 
                    input(type="button", id="showMeTheMap", name="showMeTheMap", ng-click='showMeTheMapClicked();', style='width:25%; margin-left:40px; font-weight: bold;', value='Show Me The Website')
                    
                    
          
        div(id="ngview_container", style="position:relative;height:100%;width:100%;")
            ng-view
            
