extends layout

block append scriptsblock
    script(src='/javascripts/lib/angular/angular.min.js')
    script(src='/javascripts/lib/angular/angular-route.min.js')
    script(src='/javascripts/lib/angular/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/javascripts/MasherApp.js')
        
block content
        
    div(ng-controller="MasherCtrl")
        div(ng-class = "svg-menu"
            ng-click="isCollapsed = !isCollapsed")
                img(src="http://f.cl.ly/items/1U2c3b1215383h3a2T2r/icon-menu.svg")
                Documents Menu (Show/Hide)
                
        div(collapse="isCollapsed")
            div(class="background", style="background: url(stylesheets/images/bigmasher.png); background-size: 100% 100%;")
                div(class="transbox", style="margin: 30px 40px; font-weight: bold;                font-size: 150%; font-family:Arial; margin:auto; text-align: center; color: #000000;")
                    p Synchronizing Maps From a Variety of Map Systems
            div
                tabset        
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                        {{tab.content}}
                    </tab>
                        
        div(ng-view)
        
     
        

