extends layout


block content
        
    div(ng-controller="MasherCtrl")
        #top_line(ng-click="summmaryCollapser()")
            img.svg-menu(src="http://f.cl.ly/items/1U2c3b1215383h3a2T2r/icon-menu.svg", align = "left")
            p Show/Hide
                
        #summary_header(collapse="isCollapsed")
            .background
                div(id="mashbox", class="transbox", style="margin: 30px 40px; font-weight: bold; font-size: 150%; font-family:Arial; margin:auto; text-align: center; color: #00ff00;")
                    p Synchronizing Maps From a Variety of Map Systems
                    
                div(style="background:rgba(255,255,255,0.99); background-color: #ffffff;")
                    div(ng-controller="TabsCtrl")
                        ul
                            li(ng-repeat="tab in tabs", ng-class="{active:isActiveTab(tab.url)}")
                                div(ng-click="onClickTab(tab)")
                                    span {{tab.title}} 
                                        img(ng-src="{{tab.imgSrc}}")

            #mainView {{currentTab.content}}
                br
                a(href="{{currentTab.url}}", id="currentTabSelectedId") {{currentTab.title}}         
                    
          
        div(id="ngview_container", style="position:relative;height:100%;width:100%;")
            ng-view
            
