div(class="modal-dialog", style="width: 100%;")
    div(class="modal-content")
        div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
            
            h4 Open a new map in :
        div(class="modal-body")
            div(class="btn-group btn-group-vertical")
                span(data-ng-repeat="dest in $parent.destSelections")
                    input(name="destSelected", type="radio", value="{{dest}}", ng-model="$parent.data.dstSel", ng-init="$parent.data.dstSel='Same Window'").
                    {{dest}}
                    br
            br
            div(style="color: #17244D; margin-top: 10px;") SELECTED: {{data.dstSel}}
        div(class="modal-footer")
            button(type="button", class="btn btn-primary", ng-click="$parent.data.whichDismiss = 'Accept'; $parent.preserveState()", data-dismiss="modal") Accept
            button(type="button", class="btn btn-primary", ng-click="$parent.data.whichDismiss = 'Cancel'; $parent.restoreState()", data-dismiss="modal")  Cancel
