
div
    button(type="button", class="btn btn-labeled btn-primary",
        ng-click="$parent.onExpandMapClicked()")
        span(class="btn-label")
            | {{$parent.data.shrinkgrowtext}}
            i(class="fa fa-expand fa-lg", ng-class="{'fa-expand': $parent.parent.data.subsiteExpanded, \
            'fa-compress': !$parent.$parent.data.subsiteExpanded}", style="padding-left: 0.5rem")

    button(type"button", class="btn btn-labeled btn-primary",
        ng-click="$parent.onMapLinkrClicked()")
        span(class="btn-label")
            | {{$parent.mldata.mapLinkrBtnText}}
            i(class="fa fa-expand fa-lg", ng-class="{'fa-expand': !$parent.mldata.isOpen, \
            'fa-compress': $parent.mldata.isOpen}", style="padding-left: 0.5rem")
