div(class="modal-dialog", style="width: 100%;")
    div(class="modal-content")
        div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")

            h4 You need to disable your browser's popup blocker for this URL :
        div(class="modal-body")
            div(style="color: #17244D; margin-top: 10px;") URL: {{$parent.data.blockedUrl}}
            
            div.
                Look at the page top for instructions for allowing a specific site or
            div.
                Right Click on the link for browser-specific instructions.
                
            div(style="float: left;")
                
                a(href='https://support.google.com/chrome/answer/95472?hl=en')
                    div(style="float: left;")
                        img(src='../stylesheets/images/browserimages.jpg', class="browserimg gglchrome")
                    div(style="float: left; margin-top: 20px").
                        Chrome
                    
            div            
                br
                br
            div
                br
                a(href='https://support.mozilla.org/en-US/kb/pop-blocker-settings-exceptions-troubleshooting')
                    
                    div(style="margin-top: 1px;")
                        img(src='../stylesheets/images/browserimages.jpg', class="browserimg mozff")
                    div(style="float: left; margin-top: -30px; margin-left: 60px;").
                        Firefox


        div(class="modal-footer")
            button(type="button", class="btn btn-primary", ng-click="$parent.ok()", data-dismiss="modal") Accept
            button(type="button", class="btn btn-primary", ng-click="$parent.cancel()", data-dismiss="modal")  Cancel
