
ul {
    display:table-row;
}

.acc.li {
    border: 1px solid #000;
    background-color: #330033;
    color: #AAAAAA;
}


    .acc.scrollable {
        width: 100%;
        height: 100%;
        margin: 5px;
        padding: 5px;
        overflow: auto;
    }