
ul {
    display:table-row;
}

.acc.li {
    border: 1px solid #000;
    background-color: #ffddee;
    color: #222200;
}


    .acc.scrollable {
        width: 100%;
        height: 100%;
        margin: 2px;
        padding: 2px;
        overflow: auto;
    }

.panel-group,
.panel-collapse,
.panel-body {
    background-color: #eeddee;
    color: #333;
}

.panel-group,
.panel-default > 
.panel-heading {
    font-weight:bolder;
    background-color: #ffddfb;
    color: #222;
}
