
* { box-sizing: border-box; }

.posViewVisible {
    display: flex;
}

/* Large */
.navigation {
  list-style: none;
  margin: 0; 
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation .havButton {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.5em;
  color: #FFFFFF;
  background: #6E9096;
}

.navigation .havButton:hover {
  background: darken(deepskyblue, 2%);
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation .havButton { 
    text-align: center; 
    padding: 4px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  
  .posViewVisible {
    display : none;
  }
}