ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
}

#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}